################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/OmniChannel.VideoChatConnector.APIs/NodejsConsoleApp1
/obj/Debug
/bin
/NodejsApp1.njsproj
